<!--<div>{{addWolf.name}}</div>-->
{{ wolves }}
  <br/>
{{ pack }}
<div ng-repeat="wolf in wolves">
  <a href="/#/wolf/{{wolf.id}}">{{ wolf.username }}</a>
  <div class="btn btn-invite btn-primary" ng-click="invite(wolf)">Join</div>
</div>
