<div>{{createPack.name}}</div>

<form role="form">

  <div class="form-group">
    <label for="name">Create a New Pack</label>
    <input id="name" class="form-control" ng-model="createPack.pack.name" placeholder="Pack Name">
  </div>

  <div class="alert" ng-if="createPack.message">{{ createPack.message }}</div>

  <button type="submit" class="btn btn-default"  ng-click="createPack.create();">Save</button>

</form>
