<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Create A New Pack</h1>
        <button ng-click="closeModal()" class="button button-small button-positive">
            close
        </button>
    </ion-header-bar>
    <ion-content ng-controller="PackCreateModalCtrl as packCreateModal">

        <!--step 1 name ur pack-->
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" ng-model="newPack.name" placeholder="Name Your Pack!">
            </label>
            <button ng-click="packCreateModal.createPack(newPack)" class="button button-block button-positive">
                Create
            </button>
        </div>

        <!--step 2 pick ur wolves-->
        <ul class="list list-inset">

            <wolf-list checklist="true"></wolf-list>

        </ul>
    </ion-content>
</ion-modal-view>
