<ion-pane ion-side-menus>

    <!-- Left menu -->
    <ion-side-menu side="left">
        <div class="list">

        </div>
        <ul class="list">


            <li class="item">
                <strong>
                    Location status:
                </strong>
            </li>
            <li class="item item-toggle">
                GPS
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>

            <li class="item">
                <strong>
                    Notify Distance:
                </strong>
            </li>

            <div class="item range range-positive">
                <span>50ft</span>
                <input type="range" name="volume" min="0" max="100" value="33">
                <span>200ft</span>
            </div>

        </ul>
    </ion-side-menu>

    <!-- Right menu -->
    <ion-side-menu side="right">
        <!--search-->
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>
        <!--/end search-->

        <div class="list">

            <a class="item item-avatar" href="#">
                <!--<img src="venkman.jpg">-->
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>

            <a class="item item-avatar" href="#">
                <!--<img src="venkman.jpg">-->
                <h2>Egon</h2>
                <p>We're gonna go full stream.</p>
            </a>

            <a class="item item-avatar" href="#">
                <!--<img src="venkman.jpg">-->
                <h2>Winston</h2>
                <p>Thats a big Twinkie.</p>
            </a>

        </div>

    </ion-side-menu>

    <ion-side-menu-content>
        <ion-header-bar class="bar-stable">
            <div class="buttons">
                <button class="button icon ion-navicon" ng-click="toggleLeft()"></button>
            </div>
            <h1 class="title">Wolfpack </h1>
            <div class="buttons">
                <button class="button icon ion-search" ng-click="toggleRight()"></button>
            </div>
        </ion-header-bar>

        <ion-content >


            <pack-list></pack-list>

        </ion-content>

        <ion-footer-bar>


            <div class="tabs-striped tabs-color-assertive">
                <div class="tabs">
                    <a class="tab-item " ui-sref="admin.dashboard">
                        <i class="icon ion-home"></i>
                        Test
                    </a>
                    <a class="tab-item active" ui-sref="admin.pack">
                        <i class="icon ion-star"></i>
                        Packs
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-gear-a"></i>
                        Settings
                    </a>
                </div>
            </div>

        </ion-footer-bar>
    </ion-side-menu-content>

</ion-pane>
