
<div class="list">

    <div class="item item-divider">

        <button  ng-click="packListDir.openModal()" class="button button-block button-large pull-right icon-left ion-plus button-positive">Create New Pack</button>
    </div>

    <a class="item item-icon-left" ng-repeat="pack in packs" ng-click="packListDir.setNavTitle(pack.name)" href="#/admin/packs/{{ pack.id }}">
        <i class="icon ion-person-stalker"></i>
        {{ pack.name }}
        <span class="badge badge-assertive">0</span>
    </a>

    <!--{{ packListDir }}-->

</div>
