<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Invite New Members</h1>
        <button ng-click="wolfSlide.closeModal()" class="button button-small button-positive">
            close
        </button>
    </ion-header-bar>
    <ion-content ng-controller="PackInviteCtrl as packInvite" ng-init="packInvite.loadMembers()">

        <!--step 2 pick ur wolves-->
        <ul class="list list-inset">

            <!--<wolf-list wolves="packInvite.wolves" selfload="true"></wolf-list>-->

            <div class="item item-button-right" ng-repeat="wolf in packInvite.wolves">
                {{ wolf.uid }}
                <button class="button button-positive" ng-click="packInvite.sendInvite(pack,wolf)">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </div>

        </ul>

        <pre>{{ pack | json}}</pre>
        <!--<pre>{{ packInvite.wolves | json}}</pre>-->


    </ion-content>
</ion-modal-view>
