

<ion-view >

    <div id="pack-nav" class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a class="tab-item active" ng-click="pack.gotoMap($event)">
                <i class="icon ion-map"></i>
                map
            </a>
            <a class="tab-item"  ng-click="pack.gotoChat($event)">
                <i class="icon ion-chatbubbles"></i>
                chat
            </a>
            <a class="tab-item"  ng-click="pack.gotoEvents($event)">
                <i class="icon ion-calendar"></i>
                events
            </a>
            <a class="tab-item"  ng-click="pack.gotoWolves($event)">
                <i class="icon ion-person"></i>
                wolves
            </a>
            <a class="tab-item"   ng-click="pack.gotoSettings($event)">
                <i class="icon ion-gear-a"></i>
                settings
            </a>
        </div>
    </div>

    <ion-content class=""  data-tap-disabled="true">

        <div class="nav-spacer"></div>


        <ion-slide-box id="pack-nav-slides" on-slide-changed="pack.slideChanged($index)" show-pager="false">
            <ion-slide>
                <!--MAPS SLIDE-->
                <!--<div style="height: 500px;width: 100%;">-->
                    <!--<pre>{{ packView.pack | json }}</pre>-->
                <!--</div>-->

                <pack-map pack="packView.pack"></pack-map>
            </ion-slide>
            <ion-slide>
                <!--CHAT SLIDE-->
                <div class="padding ">
                    <chat-room pack="packView.pack"></chat-room>
                </div>
            </ion-slide>
            <ion-slide >
                <!--EVENTS SLIDE-->
                <div class="  padding" >
                    <event-board pack="packView.pack"></event-board>
                </div>
            </ion-slide>
            <ion-slide>
                <!--PACK'S WOLVES SLIDE-->
                <div class=" " >
                    <div wolf-slide>
                        <button  ng-click="wolfSlide.openModal()" class="button button-block button-large button-positive">Invite</button>
                        <hr/>
                        <wolf-list checklist="false" wolves="packView.pack.wolves"></wolf-list>
                    </div>

                </div>
                <!--{{ pack.pack.wolves }}-->
            </ion-slide>
            <ion-slide>
                <!--SETTINGS SLIDE-->
                <settings-pack pack="packView.pack"></settings-pack>
            </ion-slide>
        </ion-slide-box>


    </ion-content>

</ion-view>
