/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

*/
$light:                           #fff !default;
$gray-lt:                          #f8f8f8 !default;
$stable:                          #C7C7CC !default;
$dark:                              #363636 !default;
$black:                            #1F1F1F !default;
$blue-dk:                            #010F2E !default;
$royal:                           #0A1736 !default;
$positive-lt:                        #6994A7 !default;
$positive:                        #054E6D !default;
$calm:                            #305E67 !default;
$balanced:                        #00923B !default;
$assertive:                       #00C650 !default;
$energized:                       #f0ca45 !default;
$red-lt:                            #ED5959 !default;
$red:                            #F20000 !default;
$red-dk:                            #B80000 !default;



// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "www/lib/saffron/saffron/saffron.scss";
@import "mixins";



.pane,.view,.menu{
//    background-color: lighten(desaturate(adjust-hue($positive,5deg),55),20%) ;

    background-color: $stable ;
}

.item-divider{
    background-color: $calm ;
}

a.item{
    color: rgba($light,0.5);
}
.item{
    background-color:  rgba($light,0.10);
    border-color:  lighten(desaturate(adjust-hue($positive,0deg),0),0%);

    p{
//        color
    }
}

.pull-right{
    float: right;
}

.nav-spacer{
    margin-top: 50px;
}

#pack-nav{
    .tabs{
        .tab-item.active{
            color:  lighten($assertive,5%);
            border-color: lighten($assertive,5%);
        }
    }
}

#main-nav{
    .tab-nav{
        .tab-item.tab-item-active{
            color:lighten($assertive,5%);
            border-color: lighten($assertive,5%);
        }
    }
}


.list .item.item-accordion {
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.tabs-striped .tabs{
    border-bottom: 0px solid #ddd;
    box-shadow: 0 0 0 $dark;
}

.panel{
    &.collapse{
            @include slideInRight(400ms);
        &.ng-hide{
            @include slideInRight(200ms);
        }
        &.ng-hide-add{
            @include slideOutRight(400ms);
        }
        &.ng-hide-remove{
        }
    }
}

.circle{
    @include border-radius(40px);
}


//map
@import "../www/js/map/map";

//chatt
@import "../www/js/chat/chat";

//events
@import "../www/js/events/events";

//pack
@import "../www/js/pack/pack";

//places
@import "../www/js/places/places";

//wolf
@import "../www/js/wolf/wolf";
