<div class="circle_menu">
    <i class="icon ion-plus menu_btn"></i>
</div>
<div class="menu">
    <i class="icon ion-person menu_itm"  ng-click=""></i>

    <i class="icon ion-android-locate menu_itm"  ng-click="mapNav.centerUser()"></i>

    <i class="icon ion-location menu_itm"  ng-click="mapNav.openModal()"></i>

</div>
