<div class="container" id="place-view" >

    <div class="close-btn" ng-click="closePanel()"><span class="icon ion-close"></span></div>

    <div class="clearfix"></div>

    <h2>{{ place.name }}</h2>

    <pre>{{ place | json }}</pre>

    <div ng-click="packMap.deletePlace(place,$index)" class="button button-small icon-minus icon left">delete</div>

    <div class="clearfix"></div>
</div>
