
.angular-google-map{
    width: 100%;
    min-height: 100px;

//    @include transition(600ms);
}
.angular-google-map-container {
    height: 100%;
    min-height: 100px;

    &.set{
        @include transition(400ms);
    }
}

.map-ui{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    z-index: 10;
}

.pac-item {
    //    height: 50px;
    font-size: 18px !important;
    padding: 20px;
}

.pac-item-query {
    font-size: 18px !important;
    padding-right: 5px;
    //    padding: 20px;
}

.pac-icon {
    margin-right: 10px;
}


#place-view{
    position: relative;
    background-color: $positive-lt;
//    background-color: $light;
    border-top: 4px solid $positive;
    color: $dark;
    h2{
        color: $positive;
    }
    &.container{
        padding: 0 10px;
    }
    .close-btn{
        position: absolute;
        top: -15px;
        right: 10px;
        font-size: 28px;
        color: $light;
        text-align: center;
        background-color: $positive-lt;
        padding: 6px 0 0 0 ;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0 0 0 4px $positive, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    }
}


.flat-button{
    font-size: 28px;
    text-align: center;
    padding: 6px 0 0 0 ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.button-add{
    color: #f2f2f2;
    background-color: #007aff;
}



//
//

.map-nav{
    position: relative;
}
.circle_menu {
    width: 56px;
    height: 56px;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 56px;
    background: $assertive;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    z-index: 3;
    color: #fff;
    text-align: center;
    line-height: 56px;
    font-size: 1.25rem;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 0px;
    z-index: 9999;
    transition: all 200ms ease-in-out;
}

.menu_btn {
    transition: all 250ms ease;
//    background: rgb(233,30,99);
}



.open {
    .menu_btn {
        transform: rotate(-135deg);
    }

    .menu {
        transform: scale(1,1);
        opacity: 1;
        .menu_itm {
            opacity: 1;
        }
    }

    .circle_menu{
        background: $balanced;
//        background: $assertive;
//        color: rgba(255,255,255,0.5);
        transition: all 200ms ease-in-out;
    }
}



.menu {
    height: 400px;
    width: 400px;
    background-color: $assertive;
    position: fixed;
    top: auto;
    bottom: -200px;
    right: -200px;
    min-width: auto;
    min-height: auto;
    z-index: 999;
    border-radius: 50%;
    box-shadow: -2px -1px 3px rgba(0,0,0,0.24);
    opacity: 0;
    transform: scale(0,0);
    transition: all 200ms ease-in-out;


    .menu_itm {
        display: block;
        line-height: 56px;
        font-size: 2rem;
        color: white;
//        color: $balanced;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        transition: opacity 200ms ease-in 215ms;
    }

    .menu_itm:nth-child(1) {
        right: 220px;
        bottom: 340px;
    }
    .menu_itm:nth-child(2) {
        right: 315px;
        bottom: 285px;
    }
    .menu_itm:nth-child(3) {
        right: 350px;
        bottom: 200px;
    }
}
