<!--<h1>pack map</h1>-->
<div   data-tap-disabled="true" >

    <map-nav
        class="map-nav"
        pack="packMap.pack"
        users="packMap.users"
        user="packMap.user"
        gmap="packMap.gMaps"
        map="packMap.googleMap">
    </map-nav>

    <div style="position: relative;pointer-events: none;">
        <div style="position: absolute;top: 10px; left: 10px;z-index: 9999">
            <h4>Users:</h4>
            <!--<pre>{{ packMap.users.length | json }}</pre>-->
            <!--<pre>{{ packMap.user | json }}</pre>-->
            <pre ng-repeat="user in packMap.users">{{{user:user.uid, lat: user.latitude,lng:user.longitude}  | json}}</pre>
        </div>
    </div>

    <ui-gmap-google-map center='packMap.map.center' refresh="packMap.map.refresh" options="packMap.map.options" zoom='packMap.map.zoom'  full-height="148" offset="{{ panelSize }}">

        <ui-gmap-markers models="packMap.places" click="placeClick" fit="fit" coords="'self'" icon="'icon'"></ui-gmap-markers>


        <ui-gmap-marker
        idKey='packMap.user.id'
        coords='packMap.user'
        icon="{url:'img/user-marker.png'}"
        >
        </ui-gmap-marker>

        <map-users users="packMap.users" pack="packMap.pack">

            <ui-gmap-markers models="packMap.users" click="userClick" fit="fit" coords="'self'" icon="{url:'img/user-marker.png'}"></ui-gmap-markers>

        </map-users>

    </ui-gmap-google-map>

    <map-place-view place="selectedPlace" ng-show="selectedPlace" close="closePanel"></map-place-view>

</div>

