


<ion-pane ion-side-menus>

    <!-- Left menu -->
    <ion-side-menu side="left">

    </ion-side-menu>

    <!-- Right menu -->
    <ion-side-menu side="right">

    </ion-side-menu>
    <!--/END RIGHT PANEL-->

    <ion-side-menu-content>

        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button> </ion-nav-back-button>
        </ion-nav-bar>



        <ion-tabs id="main-nav" class=" tabs-icon-top tabs-bottom tabs-striped tabs-positive">

            <ion-tab title="Home" icon="ion-home" ui-sref="admin.dashboard">
                <ion-nav-view name="dash-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Packs" icon="ion-ios-information" ui-sref="admin.packs">
                <ion-nav-view name="packs-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Wolves" icon="ion-ios-world" ui-sref="admin.wolves">
                <ion-nav-view name="wolves-tab"></ion-nav-view>
            </ion-tab>

        </ion-tabs>


    </ion-side-menu-content>

</ion-pane>






