<div class='container'>
  <div ng-if="!signup.confirm">

    <h2>Sign up!</h2>

    <ul ng-if="signup.errors">
      <!--EMAIL ERRORS-->
      <li ng-repeat="emailError in signup.errors.email">Email {{ emailError }}</li>
      <!--USERNAME ERRORS-->
      <li ng-repeat="emailError in signup.errors.username">Username {{ emailError }}</li>
      <!--PASSWORD ERRORS-->
      <li ng-repeat="emailError in signup.errors.password">Password {{ emailError }}</li>
    </ul>

    <form role="form">

      <div class="form-group">
        <label for="username">Email</label>
        <input id="email" class="form-control" ng-model="signup.user.email" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" class="form-control" ng-model="signup.user.username" placeholder="Username">
      </div>

      <div class="form-group">
        <label for="password">Password (8 characters minimum)</label>
        <input type="password" class="form-control" id="password" ng-model="signup.user.password"
          placeholder="Password">
      </div>

      <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" class="form-control" id="confirm-password" ng-model="signup.user.password_confirmation"
          placeholder="Confirm Password">
      </div>

      <div class="alert" ng-if="wolfpack.message">{{ wolfpack.message }}</div>

      <button type="submit" class="btn btn-default"  ng-click="signup.signUp();">Sign Up</button>

    </form>

    <a ui-sref="wolfpack">Sign in</a>
  </div>


  <!--<div ng-include="'wolves/sign_up'"></div>-->


  <div class="confirmation" ng-if="signup.confirm">
    <h2>Thank you!</h2>
    <p>A confirmation email was sent to you. Please sign in after you've confirmed.</p>
    <a ng-click="signup.signOutAndIn()">Sign in</a>
  </div>
</div>
