<div class='container'>
  <!---->
  <div ng-if="signin.loggedin">
    <h3>Hello {{ signin.user.email || "User" }}!</h3>
    <div class="btn btn-default" ui-sref="wolfpack.dash">Continue</div>
    <div class="btn btn-primary" ng-click="signin.logout();">Not {{ signin.user.email || 'User' }}?</div>
  </div>
  <!---->
  <div ng-if="!signin.loggedin">
    <h2>Sign in</h2>

    <div class="alert" ng-if="signin.message">{{ signin.message }}</div>

    <form role="form">

      <div class="form-group">
        <label for="username">Email</label>
        <input id="username" class="form-control" ng-model="signin.user.email" placeholder="Username">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="signin.user.password"
          placeholder="Password">
      </div>

      <button type="submit" class="btn btn-default"  ng-click="signin.login();">Login</button>
    </form>

    <a ui-sref="sign-up">Sign up</a>

  </div>
</div>

