.edit-event{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}



#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;


    &::before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: $calm;
    }

}
@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;

    &::after {
        content: "";
        display: table;
        clear: both;
    }
    &:first-child {
        margin-top: 0;
        @media only screen and (min-width: 1170px) {
            margin-top: 0;
        }
    }
    &:last-child {
        margin-bottom: 0;
        @media only screen and (min-width: 1170px) {
            margin-bottom: 0;
        }
    }

    @media only screen and (min-width: 1170px) {
        margin: 4em 0;

        &:nth-child(even) .cd-timeline-content {
            float: right;
        }
        &:nth-child(even) .cd-timeline-content::before {
            top: 24px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: $light;
        }
        &:nth-child(even) .cd-timeline-content .cd-read-more {
            float: right;
        }
        &:nth-child(even) .cd-timeline-content .cd-date {
            left: auto;
            right: 122%;
            text-align: right;
        }
    }
}

.button.button-circle{
    min-width: auto;
    min-height: auto;
    margin: 0;
    padding: 0 6px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px $calm, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    &::before{
        padding: 0;
        line-height: 41px;
    }
}
.cd-timeline-img {
    position: absolute;
    top: 0px;
    left: -10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
//    box-shadow: 0 0 0 4px $clam, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
//
    box-shadow: 0 0 0 4px $calm, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05) !important;

    img {
        display: block;
        width: 44px;
        height: 44px;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -12px;
    }

    .icon{
        display: block;
        width: 44px;
        height: 44px;
        position: relative;
        left: 38%;
        top: 33%;
        margin-left: -12px;
        margin-top: -12px;
        color: darken($assertive,10%);
        font-size: 45px;
    }

    .date-label{
        color: $light;
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 24px;
    }

    &.cd-picture {
        background: $assertive;
    }
    &.cd-movie {
        background: $assertive;
    }
    &.cd-location {
        background: $energized;
    }

    @media only screen and (min-width: 1170px) {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;

        .cssanimations .cd-timeline-img.is-hidden {
            visibility: hidden;
        }
        .cssanimations .cd-timeline-img.bounce-in {
            visibility: visible;
            -webkit-animation: cd-bounce-1 0.6s;
            -moz-animation: cd-bounce-1 0.6s;
            animation: cd-bounce-1 0.6s;
        }
    }
}



.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: $light;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 $calm;
    border:1px solid $calm;

    &::after {
        content: "";
        display: table;
        clear: both;
    }
    h2 {
        color: $positive;
    }
    p, .cd-read-more,  .cd-date {
        font-size: 13px;
        font-size: 0.8125rem;
    }
    .cd-read-more,  .cd-date {
        display: inline-block;
    }
    p {
        margin: 1em 0;
        line-height: 1.6;
    }
    .item.tabs{
        background: rgba(0,0,0,0);
        box-shadow: 0 0 0 $dark;
        border: 0;
        .tab-item{
            background: rgba(0,0,0,0) !important;
            position: relative;
            color: rgba(0,0,0,.5);
            .badge{
                background:$assertive;
                opacity: 1;
                left: 20%;
                right: auto;
                color: $light;
            }
        }
    }

    .cd-date {
        padding: .8em 0;
        position: absolute;
        left: -68px;
        top: 72px;
        background: $assertive;
        border-radius: 10px;
        color: $light;
        font-weight: 800;
        padding:2px 6px;
        box-shadow: 0 0 0 4px $calm, inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 3px 0 4px rgba(0, 0, 0, 0.05);

        @media only screen and (min-width: 1170px) {
            position: absolute;
            width: 100%;
            left: 122%;
            top: 6px;
            font-size: 16px;
            font-size: 1rem;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid $calm;
    }

    @media only screen and (min-width: 768px) {
        h2 {
            font-size: 20px;
            font-size: 1.25rem;
        }
        p {
            font-size: 16px;
            font-size: 1rem;
        }
        .cd-read-more, .cd-date {
            font-size: 14px;
            font-size: 0.875rem;
        }
    }

    @media only screen and (min-width: 1170px) {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;

        &::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: $stable;
        }

    }
}

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: $calm;
}

