<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Create A New Event</h1>
        <button ng-click="eventBoard.closeEventCreateModal()" class="button button-small button-positive">
            close
        </button>
    </ion-header-bar>
    <ion-content ng-controller="EventCreateModalCtrl as eventCreateModal">

        <!--step 1 name ur pack-->
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Name Your Event!" ng-model="eventCreateModal.event.name">
            </label>
            <button ng-click="eventCreateModal.createEvent(pack.pack,eventCreateModal.event)" class="button button-block button-positive">
                Create
            </button>

            <!--{{ pack.pack }}-->
        </div>

        <!--step 2 start day-->
        <!--step 3 start time-->
        <!--step 4 end day-->
        <!--step 5 end time-->


    </ion-content>
</ion-modal-view>
