

<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Create A New Event</h1>
        <button ng-click="eventCard.closeEdit()" class="button button-small button-positive">
            close
        </button>
    </ion-header-bar>
    <ion-content ng-controller="EventUpdateModalCtrl as eventUpdate" ng-init="eventUpdate.setEvent(eventCard.event)">

        <!--step 1 name ur pack-->
        <div class="list list-inset">

            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Name Your Event!" ng-model="newEvent.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" ng-model="newEvent.description">
            </label>


            <ionic-datepicker idate="currentDate" disablepreviousdates="true"  disablefuturedates="false" callback="startDate" disableddates="disabledDates" title="title" mondayfirst="true">
                <button class="button button-block button-positive"> {{ newEvent.start_date | date:'dd - MMMM - yyyy' }} </button>
            </ionic-datepicker>

            <ionic-timepicker etime="newEvent.start_time" format="slots.format" step="slots.step" callback="startTime">
                <button class="button button-block button-positive">
                    <standard-time-meridian etime='newEvent.start_time'></standard-time-meridian>
                </button>
            </ionic-timepicker>

            <ionic-datepicker idate="currentDate" disablepreviousdates="true"  disablefuturedates="false" callback="endDate" disableddates="disabledDates" title="title" mondayfirst="true">
                <button class="button button-block button-positive"> {{ newEvent.end_date | date:'dd - MMMM - yyyy' }} </button>
            </ionic-datepicker>

            <ionic-timepicker etime="newEvent.end_time" format="slots.format" step="slots.step" callback="endTime">
                <button class="button button-block button-positive">
                    <standard-time-meridian etime='newEvent.end_time'></standard-time-meridian>
                </button>
            </ionic-timepicker>


            {{ newEvent.places }}

            <button ng-click="eventUpdate.updateEvent(newEvent)" class="button button-block button-positive">
                Save
            </button>

            <pre>{{ eventCard.event }}</pre>

            <button ng-click="eventUpdate.cancelEvent(newEvent)" class="button button-block  button-assertive">
                Call off Event
            </button>
        </div>



    </ion-content>
</ion-modal-view>
