<!--<h1>Event Board</h1>-->

<ion-scroll class="item item-divider "  full-height="" offset="20" >


    <h1 class="header-title">
        <button
            ng-click="eventBoard.launchEventCreate()"
            class="button button-circle icon-left ion-plus button-large button-positive">
        </button>
        Upcoming Events
    </h1>



    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block" event-card="" ng-repeat="event in eventBoard.events | orderBy: '-start_date' :true ">
            <!--<div class="cd-timeline-img cd-picture">-->
            <!--<img src="img/cd-icon-picture.svg" alt="Picture">-->
            <!--</div> <!-- cd-timeline-img -->-->
            <!--{{ eventBoard}}-->
            <div class="cd-timeline-img cd-picture">
                <!--<img src="img/cd-icon-location.svg" alt="Movie">-->
                <i class="icon ion-calendar"></i>
                <span class="date-label">{{ event.start_date  | date:'dd'}}</span>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <!--{{ eventCard }}-->
                <span class="icon ion-gear-a edit-event" ng-click="eventCard.openEdit(event)"></span>
                <h2>{{ event.name }}</h2>

                <ul class="unstyled">
                    <li ng-repeat="place in event.places"><h3>{{ place.name }}</h3></li>
                </ul>
                <h3>
                    <standard-time-meridian etime='event.start_time'></standard-time-meridian> - <standard-time-meridian etime='event.end_time'></standard-time-meridian>
                </h3>
                <p>{{ event.description }}</p>
                <!--<a href="#0" class="cd-read-more">Read more</a>-->
                <span class="cd-date">{{ event.start_date  | date:'MMMM'}}</span>
                <!--<p  style="white-space: normal;">-->
                <!--<!--{{ event }}-->
                <!--<br/>-->
                <!--<!--{{ event.places }}-->
                <!--</p>-->
                <!--<hr/>-->
                <event-action users="event.users" event="event.id"></event-action>

            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

    </section>

</ion-scroll>
