<div class="item tabs tabs-secondary tabs-icon-left">

    <span class="tab-item" ng-click="eventAction.accept(event)">
        <i class="icon ion-thumbsup"></i>
        RSVP
        <span class="badge" ng-if="eventAction.rsvp>=1">{{ eventAction.rsvp }}</span>
    </span>
    <span class="tab-item" ng-click="eventAction.decline(event)">
        <i class="icon ion-chatbox"></i>
        No Going
        <span class="badge" ng-if="eventAction.declined>=1">{{ eventAction.declined }}</span>
    </span>
    <span class="tab-item" ng-click="eventAction.not_sure(event)">
        <i class="icon ion-share"></i>
        Maybe
        <span class="badge" ng-if="eventAction.maybe>=1">{{ eventAction.maybe }}</span>
    </span>

</div>

<!--<hr/>-->
<!--<br/>-->
<!--<div class="hidden">-->
    <!--<p  style="white-space: normal;" >-->
        <!--&lt;!&ndash;{{ users }}&ndash;&gt;-->
        <!--<br/>-->
        <!--{{  }}-->
    <!--</p>-->
<!--</div>-->
