

<ion-view view-title="Dash">

    <ion-content>

        <div class="card">
            <div class="item item-divider">
                <h1>Welcome</h1>
            </div>
            <div class="item item-text-wrap">
                <p>{{user.email}}</p>
                <br/>

                <button ng-click="openModal()" class="button button-large button-positive">
                    Create Pack
                </button>

            </div>
            <div class="item item-divider">
                <div class="btn btn-default" ng-click="signout()">logout</div>
            </div>
        </div>

        <!--<div class="list card">-->

            <!--<a href="#" class="item">-->
                <!--<h1>Recent Activity</h1>-->
            <!--</a>-->

            <!--<a href="#" class="item item-icon-left">-->
                <!--<i class="icon ion-person-stalker"></i>-->
                <!--Enter phone number-->
            <!--</a>-->

            <!--<a href="#" class="item item-icon-left">-->
                <!--<i class="icon ion-person-stalker"></i>-->
                <!--Enter wireless password-->
            <!--</a>-->

            <!--<a href="#" class="item item-icon-left">-->
                <!--<i class="icon ion-person-stalker"></i>-->
                <!--Enter card information-->
            <!--</a>-->

        <!--</div>-->


        <div class="padding" ng-if="invites.length>=1">
            <h1>Invites</h1>
        </div>

        <div class="list card" ng-repeat="invite in invites">

            <div class="item item-avatar">
                <!--<img src="mcfly.jpg">-->
                <h2>{{ invite.join.name }}</h2>
                <p>{{ invite.date | date: 'MMM dd yyyy'}}</p>
            </div>

            <div class="item item-body">
                <!--<img class="full-image" src="delorean.jpg">-->
                <p>{{ invite.message }}</p>
                <!--<pre>{{invite |json }}</pre>-->
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <span class="tab-item" ng-click="accept(invite)">
                    <i class="icon ion-thumbsup"></i>
                    Accept
                </span>
                <span class="tab-item" ng-click="decline(invite)">
                    <i class="icon ion-share"></i>
                    Decline
                </span>
            </div>

        </div>

    </ion-content>




</ion-view>

