
<div class="list list-inset">
    <form ng-submit="submitLogin()" role="form" ng-init="loginForm = {}">
        <label class="item item-input">
            <input type="text" placeholder="email" name="email" ng-model="loginForm.email" required="required">
        </label>
        <label class="item item-input">
            <input type="password" name="password" ng-model="loginForm.password" required="required" placeholder="password">
        </label>
        <button type="submit" class="button button-positive button-full">
            log in
        </button>
    </form>

</div>



<div class="list list-inset">
    <form ng-submit="handleRegBtnClick()" role="form" ng-init="registrationForm = {}">
        <label class="item item-input">
            <input type="text" placeholder="email" ng-model="registrationForm.email">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="password" ng-model="registrationForm.password">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="confirm password" ng-model="registrationForm.password_confirmation">
        </label>
        <button type="submit" class="button button-positive button-full">
            register
        </button>
    </form>
</div>

<div class="list list-inset">
    <div class="item" ng-repeat="error in alerts">
        <pre>{{ error | json }}</pre>
    </div>
</div>


