
$stable: #f8f8f8 !default;
.messaging-view{
    height: 400px;

    .scroll {
        padding: 10px 0 50px !important;
    }
    .messages {
        display: -webkit-box !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important;
        -webkit-align-content: center !important;
        -ms-flex-line-pack: center !important;
        align-content: center !important;
        -webkit-box-align: center !important;
        -moz-box-align: center !important;
        -webkit-align-items: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        margin-bottom: 20px !important;
        .message {
            -webkit-box-flex: 1 !important;
            -moz-box-flex: 1 !important;
            -webkit-flex: 1 1 auto !important;
            -ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important;
            padding: 10px !important;
            -webkit-transition: all 250ms ease-in-out !important;
            transition: all 250ms ease-in-out !important;
            overflow: hidden !important;
            text-align: left !important;
            -webkit-transform: translate3d(0, 0, 0) !important;
            -moz-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
        }
        span.user-label{
            border-radius: 50% !important;
            width: 50px;
            height: 50px;
            text-transform: uppercase;
            text-align: center !important;
            line-height: 24px;
            font-size: 28px;
            color: $light !important;
            background-color: $assertive !important;
            border: 2px solid $positive;
        }
    }
    .time {
        -webkit-box-flex: 0 !important;
        -moz-box-flex: 0 !important;
        -webkit-flex: 0 1 auto !important;
        -ms-flex: 0 1 auto !important;
        flex: 0 1 auto !important;
        -webkit-align-self: auto !important;
        -ms-flex-item-align: auto !important;
        align-self: auto !important;
        width: 120px !important;
        text-align: center !important;
        padding: 0 0 0 0 !important;
        -webkit-transition: all 250ms ease-in-out !important;
        transition: all 250ms ease-in-out !important;
        -webkit-transform: translate3d(10px, 0, 0) !important;
        -moz-transform: translate3d(10px, 0, 0) !important;
        transform: translate3d(10px, 0, 0) !important;
        &.slide-right {
            -webkit-transform: translate3d(130px, 0, 0) !important;
            -moz-transform: translate3d(130px, 0, 0) !important;
            transform: translate3d(130px, 0, 0) !important;
        }
    }
    //This will change
    .messages.other {

        .message {
            -webkit-transform: translate3d(0, 0, 0) !important;
            -moz-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
            text-align: right !important;
        }
        .message.slide-right {
            -webkit-transform: translate3d(94px, 0, 0) !important;
            -moz-transform: translate3d(94px, 0, 0) !important;
            transform: translate3d(94px, 0, 0) !important;
        }
        span {
            color: $light !important;
            background-color: $positive-lt !important;
        }
    }
    span {
        background: $assertive !important;
        display: inline-block !important;
        color: white !important;
        padding: 10px !important;
        border-radius: 10px !important;
        text-align: left !important;
        max-width: 450px !important;

        box-shadow: 4px 5px 0px -1px rgba(0,0,0,0.1);
    }

}
