
<ion-pane full-height class="messaging-view">
    <!--<ion-header-bar class="bar-calm">-->
        <!--&lt;!&ndash;<h1 class="title">Ioinc Chat</h1>&ndash;&gt;-->
    <!--</ion-header-bar>-->

    <ion-content class="content-stable"
        full-height=""
        delegate-handle="mainScroll"
        on-swipe-left="hideTime = false"
        on-swipe-right="hideTime = true">


        <div ng-repeat="message in chatRoom.messages"
            ng-class="{other: message.user.uid != chatRoom.user.uid}"
            ng-class="{packMessage: message.message_type == 'Pack'}"
            class="messages">

            <div class="message" ng-class="{'slide-right': chatRoom.hideTime, '': !chatRoom.hideTime}">
                <span class="user-label" ng-if="message.user.uid == chatRoom.user.uid">{{ message.user.uid | cut:true:1:''}}</span>
                <span>{{ message.message }}</span>
                <span class="user-label" ng-if="message.user.uid != chatRoom.user.uid">{{ message.user.uid | cut:true:1:''}}</span>
            </div>

            <div class="time" ng-class="{'slide-right': chatRoom.hideTime, '': !chatRoom.hideTime}">
                {{message.created_at}}
            </div>


        </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Type your message" on-return="chatRoom.sendMessage(); chatRoom.closeKeyboard()" ng-model="chatRoom.data.message" on-focus="chatRoom.inputUp()" on-blur="chatRoom.inputDown()" />
        </label>
        <button class="button button-clear" ng-click="chatRoom.sendMessage()">
            Send
        </button>
    </ion-footer-bar>
</ion-pane>
