<ul class="list">

    <!--{{ pack }}-->

    <li class="item item-toggle">
        Tracking
        <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>

    <li class="item item-toggle">
        Notifications
        <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>

    <li class="item item-toggle">
        Attach to Dashboard
        <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>

    <li class="item item-toggle">
        Sound
        <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>

    <li class="item item-toggle">
        Vibrate
        <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>

</ul>

<button ng-click="settingsPack.deletePack(pack)" class="button button-block icon-left ion-minus button-large button-positive">
    DELETE
</button>
