<div class="list" ng-if="!wolfList.checklist">
    <a class="item item-avatar" ng-repeat="wolf in wolfList.wolves || wolves" href="#/admin/wolves/{{ wolf.id }}">
        <!--<img src="venkman.jpg">-->
        <h2>{{ wolf.email }}</h2>
        <p>{{ wolf.updated_at }}</p>
    </a>

</div>

<div ng-if="wolfList.checklist">

    <ul class="list">
        <li class="item item-checkbox"  ng-repeat="wolf in wolfList.wolves">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            {{ wolf.email }}
        </li>
    </ul>

    <pre>{{ wolfList | json }}</pre>

    <button class="button button-block button-positive">
        Add
    </button>

</div>
