<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Create A New Pack</h1>
        <button ng-click="closeModal()" class="button button-small button-positive">
            close
        </button>
    </ion-header-bar>
    <ion-content ng-controller="PlaceCreateModalCtrl as placeCreateModal">

        <!--step 1 name ur pack-->
        <div class="list list-inset">
            <label class="item item-input">
                <input class="form-control" force-selection="true" g-places-autocomplete ng-model="newPlace"/>
            </label>

            <hr/>
            <span ng-bind-html="newPlace.adr_address"></span>
            <br/>
            <pre>{{ newPlace.name }}</pre>
            <br/>
            <pre>{{ newPlace.geometry}}</pre>


            <br/>
            <!--{{ pack }}-->
            <hr/>

            <button ng-click="placeCreateModal.createPlace(newPlace)" class="button button-block button-positive">
                Create
            </button>
        </div>

        <!--step 2 pick ur wolves-->
        <ul class="list list-inset">

        </ul>


    </ion-content>
</ion-modal-view>
