<!--search-->
<div class="list list-inset">
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
    </label>
</div>
<!--/end search-->
